<!DOCTYPE html>
<html>
<head>
  <title>Hhm2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>
<div class="container">
	<%= link_to "Sign up", 'signup_path', class: "btn btn-lg btn-success", id: "Sign up" %>
	<%= link_to "Log in", 'pages#home', class: "btn btn-lg btn-success", id: "Log in" %>
	</div>

</body>
</html>
